::backdrop {
    background-color: black;
    opacity: 0.8;
}

.container {
    max-width: 400px;
    height: 100px;
    border: solid black 5px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

.drink-open {
    height: auto !important;
}

.info-open {
    display: block !important;
}

.image-holder {
    aspect-ratio: 1/1;
    height: 80%;
    max-height: 100px;
}